<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gulp Boilerplate</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <h1>Gulp Boilerplate</h1>
    <span class="sprite sprite-yeoman"></span>
    <span class="sprite sprite-gulp"></span>
    <span class="sprite sprite-browserify"></span>
    <span class="sprite sprite-npm"></span>
    <span class="glyph glyph-github"></span>
    <span class="glyph glyph-git"></span>
    <script src="scripts/main.js"></script>
  </body>
</html>
